[submodule "submodules/bling"]
	path = submodules/bling
	url = https://github.com/sachnr/bling.git
	branch = master
[submodule "misc/themes/gtk/themes/Nordic"]
	path = misc/themes/gtk/themes/Nordic
	url = https://github.com/EliverLara/Nordic
[submodule "misc/themes/gtk/themes/Gruvbox"]
	path = misc/themes/gtk/themes/Gruvbox
	url = https://github.com/sachnr/Gruvbox-GTK-Theme.git
